@font-face {
    font-family: Genshin;
    src: url(../../../asset/Q2/zh-cn.ttf);
}

body {
    font-family: Genshin, sans-serif;
    font-size: 15px;
    background-image: linear-gradient(to bottom, rgba(146, 226, 237, 0) 0%, rgb(19, 20, 20) 100%),
                      linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(19, 20, 20) 110%),
                      url(../../../asset/Q2/inazuma\ bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: #fff;
}

nav.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: rgba(19,20,20,0.8);
}

nav.nav .logo {
    color: rgb(250, 205, 57);
    font-size: 40px;
    font-weight: bold;
}

nav.nav ul.links {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav.nav ul.links li a {
    text-decoration: underline;
    text-decoration-color: rgb(250, 205, 57);
    color: rgb(250, 205, 57);
    font-weight: bold;
}

nav.nav ul.links li a:hover {
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 50px;
}

#logo {
    width: 90px;
    height: 100px;
}

h1#head {
    color: rgb(250, 205, 57);
    margin: 0;
    flex: 1;
    border-bottom: 3px solid rgb(250, 205, 57);
    padding-bottom: 10px;
    text-align: left;
    max-width: none;
}

h2 {
    color: rgb(250, 205, 57);
}

p {
    color: #fff;
}

.wrapper {
    padding: 0 50px;
}

.wrapper img {
    border-radius: 15px;
}

.content {
    max-width: 700px;
}

.wrapper hr {
    display: none;
}

.Table {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    background-color: black;
}

table, th, td {
    border: 3px solid rgb(250, 205, 57);
}

th, td {
    padding: 8px;
    color: rgb(244, 242, 239);
}

#Vision {
    width: 100px;
    height: 100px;
}

footer {
    padding: 30px 50px;
    text-align: left;
    background-color: rgb(19,20,20);
    color: #fff;
}

footer span {
    font-weight: bold;
    color: rgb(250, 205, 57);
}

footer h3 {
    margin-top: 20px;
    color: rgb(250, 205, 57);
}

footer a {
    color: rgb(250, 205, 57);
    text-decoration: underline;
}

footer a:hover {
    color: #fff;
}