.topbar {
    background: #59c3f0;
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
    height: 80px;          
    min-height: 80px;
    justify-content: center;
    gap: 10px;   
    text-align: center;
    flex-shrink: 0;
    flex-direction: row;
}
    
.topbar > * {
    flex-shrink: 0;
}
    
.topbar h1 {
    font-size: 2rem;
    color: #1277d8;
    text-align: center;
    margin: 0;
    flex-shrink: 1;
}

.menu {
    font-size: 40px;
    cursor: pointer;
    margin-left: auto;
}
      
.dropdown1, .dropdown2, .dropdown3 {
    background: #2fa4dd;
    position: relative;
    top: 73px;
    right: 0;
    width: 220px;
    display: none;        
    flex-direction: column;    
}
    
    
.dropdown1 a, .dropdown2 a, .dropdown3 a {
    display: block;
    color: white;
    font-weight: 900;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #59c3f0;
}
    
.dropdown1.active, .dropdown2.active, .dropdown3.active {
    display: flex;
}
    
.dropdown1.close, .dropdown2.close, .dropdown3.close {
    align-self: flex-end;
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 10px;
    color: whitesmoke;
}


